.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.card:hover, .btn:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s ease-in-out;
}

.svg-inline--fa {
  color: dimgrey;
  float: right;
  margin: 5px 0px 0px 10px;
  padding: 0px;
}

.svg-inline--fa:hover {
  color: tomato;
}

.svg-inline--fa-left {
  float: left;
  margin: 5px 10px 0px 0px;
}

.badge {
  float: right;
}

.list-group {
  display:inline-block;
}



/* Keep footer to the bottom 



*{
  box-sizing: border-box;
}

*:before,*:after {
  box-sizing: border-box;
}

html,body {
  height: 100%;
  position: relative;
}
   
.main-container {
  min-height: 100vh; 
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; 
  background-color: rgb(255, 255, 255);
  margin-left: 0px;
  margin-right: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(107, 107, 107);
  margin-left: 0px;
  margin-right: 0px;
}

*/ 


.list-group-item {
  border-right-width: 0px !important;
  border-left-width: 0px !important;
}

.list-group-item-noborder {
  border: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.logo {
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  shadow: 2px 2px;
  /* width: 40%; */
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));      
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));  
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}