/* body {
	text-align: center;
}

div {
	float: left;
} */

.axis {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font: 11px sans-serif;
	fill: #000;
	stroke: none;
	font-weight: bold;
}

.axis line {
	stroke: #ccc;
}

.axis path {
	stroke: #ccc;
}

.bar:hover {    
	fill: #E55;
}

.dot:hover {
	fill: #E55;
}

.area:hover {
	fill: #E55;
}

.line {
	padding: 10px;
}

.line:hover {
	stroke: #E55;
}

.arc path:hover {
	fill: #E55;
}

.arc text {
	font: 11px sans-serif;
	fill: #000;
	stroke: none;
	font-weight: bold;
}

.tooltip {
	padding: 3px;
	border: 2px solid;
	border-radius: 4px;
	background-color: rgb(226, 4, 4);
	opacity: 0.6;
	justify-content: center;
	align-items: center;
}

/* .line {
	stroke: #000;
} */

