.input-label {
  font-weight: bold;
  font-size: 12px;
  margin-right: 0px;
  text-align: right;
  font-family: 'Consolas';
  width: inherit;
}

.input-textfield {
  margin-left: 0px;
  font-family: 'Consolas';
  width: 200px; 
  text-align: center;
  font-style: italic;
  /* min-width: 200px; */
  /* vertical-align: middle; */
  display: inline-block;
  min-height: 30px;
}

.dropdown-list {
  margin-left: 0px;
  font-family: 'Consolas';
  width: 200px; 
  text-align: center;
  font-style: italic;
  /* min-width: 200px; */
  /* vertical-align: middle; */
  /* display: inline-block; */
  min-height: 30px;
  text-align-last: center;
}

.input-warning {
  color: blue;
  position: relative;
  font-size: 12px;
  font-family: 'Consolas';
}
.input-error {
  color: darkred;
  position: relative;
  font-size: 12px;
  font-family: 'Consolas';
}

@media only screen and (max-width: 800px) {
  .input-label, .input-textfield, .input-error, .input-warning {
    white-space: normal;
    text-align: left;
  }
  .input-textfield {
    min-width: fit-content;
    margin-bottom: 20px;
    background-color: greenyellow;
  }
}

.input-button {
  margin-left: 10px;
  margin-right: 10px;
}

.form-ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  clear: both;
}

.form-svg-inline {
  margin: 0px 0px 0px 0px !important;
}