.chart {
	-fx-padding: 0px 30px 0px 0px;
	-fx-font-family: Franklin Gothic Medium;
	-fx-font-size: 16px; 
	-fx-font-style: normal;
	-fx-effect: dropshadow( one-pass-box, rgba(160,160,160,0.5),2,0,1,1 );
}

.axis {
	-fx-translate-x: -1;
}

.chart-plot-background {
	-fx-background-color: transparent;
	-fx-border-color: #000000;
}

.default-color0.chart-series-line {
	/*-fx-stroke: linear-gradient(to bottom, #FFEE58, #FF5722);*/
	-fx-stroke: linear-gradient(to right, #FF5722, #FF9800);
	-fx-stroke-width: 4px;
}

.chart-series-area-line {
    -fx-stroke: #FF5722;
    -fx-stroke-width: 2px;
    }

.chart-series-area-fill {
	 -fx-fill: #E5FFFF;  
	 /* -linear-gradient(to top, #E5FFFF, #00C8FF);
	 -fx-fill: linear-gradient(#E5FFFF 90%, #00C8FF 100%); */
	 -fx-opacity: 1;
}
