.chart {
	-fx-padding: 0px 30px 0px 0px;
	/*
	-fx-font-family: Franklin Gothic Medium;
	-fx-font-size: 16px; 
	-fx-font-style: oblique;
	-fx-effect: dropshadow( one-pass-box, rgba(160,160,1600,0.5),2,0,1,1 );
	* 
	*/
}

.chart-plot-background {
	-fx-background-color: transparent; 
	-fx-border-color: transparent;
}

.default-color0.chart-series-line {
	-fx-stroke: linear-gradient(to right, #993333, #D81B60);
	-fx-stroke-width: 2px;
}
.default-color1.chart-series-line { 
	-fx-stroke: linear-gradient(to right, #993333, #D81B60);
	-fx-stroke-width: 2px;
}